* {
  margin: 0;
background-color: whitesmoke;
}

.conteiner_deidato {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 15px;
}

.div {
  display: flex;
  flex-direction: row;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px #a5a5a5 solid;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-top: 30px ;

}

.apelido {
  color: red;
}

.nome {
  font-family: Georgia, 'Times New Roman', Times, serif;


}

.img {
  height: 80px;
  width: 80px;
}

.foto{
  height: 150px;
  width: 300px;
  border-radius: 15px;

}

.Header{
  align-items: center;
  display: flex;
  justify-content: space-around;

}

.barra{
  height: 20px;
  width: 400px;
}

.botao{
  background-color: rgb(255, 123, 0);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 30px;
  color: antiquewhite;
  animation-duration: 3s;
  animation-name: inherit;
}